@model IEnumerable<Domain.Entities.BillBasic>

@{
    ViewData["Title"] = "Home";
}

<div class="row" align="center">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <img src="/image/Logo.png" class="Logo">
    </div>

    <div class="col-md-3">
        <a asp-action="Login" class="Salir">
            <img src="/image/salir.png" class="ImageSalir" />
        </a>
    </div>

</div>

<br />
<br />

<div align="center">
    <form asp-action="Create">
        <input align="center" type="submit" value="Create new" class="btn btn-success" />
    </form>
</div>

<br/>

<div class="row" align="center">
    @foreach (var item in Model)
    {

        <div class="col-md-4" id="@item.Id">

            <div class="panel blue" >
                <h6 class="col-md-12"> <B>Number:</B> @item.Number</h6>
            </div>

            <div class="panel white">
                <h6 class="col-md-12"> <B>Date:</B> @item.Date</h6>
                <h6 class="col-md-12"> <B>Person:</B> @item.NameClient</h6>
                <h6 class="col-md-12"> <B>Total:</B> @item.Total</h6>


                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })

            </div>

        </div>

    }
</div>